@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");h1 {
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.13636
}

@media (min-width: 768px) {
    h1 {
        font-size:55px;
        line-height: 1.09091
    }
}

@media (min-width: 992px) {
    h1 {
        font-size:65px;
        line-height: 1.07692
    }
}

h2,.question-row .question-title {
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.13636
}

@media (min-width: 576px) {
    h2,.question-row .question-title {
        font-size:28px;
        line-height: 1.21429
    }
}

@media (min-width: 992px) {
    h2,.question-row .question-title {
        font-size:32px;
        line-height: 1.25
    }
}

h3 {
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.38889
}

@media (min-width: 576px) {
    h3 {
        font-size:23px;
        line-height: 1.30435
    }
}

@media (min-width: 992px) {
    h3 {
        font-size:25px;
        line-height: 1.28
    }
}

h4 {
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25
}

@media (min-width: 576px) {
    h4 {
        font-size:27px;
        line-height: 1.37037
    }
}

h5 {
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.46667
}

@media (min-width: 576px) {
    h5 {
        font-weight:600;
        font-size: 20px;
        line-height: 1.25
    }
}

p,ul,ol {
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375
}

@media (min-width: 576px) {
    p,ul,ol {
        font-size:17px;
        line-height: 1.41176
    }
}

p.medium,.p-medium p,.p-medium ul,.p-medium ol {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375
}

@media (min-width: 576px) {
    p.medium,.p-medium p,.p-medium ul,.p-medium ol {
        font-size:18px;
        line-height: 1.38889
    }
}

p.small,.p-small p,.p-small ul,.p-small ol,.checkbox label {
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5
}

@media (min-width: 576px) {
    p.small,.p-small p,.p-small ul,.p-small ol,.checkbox label {
        font-size:14px;
        line-height: 1.5
    }
}

figcaption {
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.54545
}

@media (min-width: 576px) {
    figcaption {
        font-size:12px;
        line-height: 1.5
    }
}

a.btn-icon .text,button.btn-icon .text,a.btn-icon-secondary .text,button.btn-icon-secondary .text,a.btn-ghost,button.btn-ghost,.search-form #search-submit {
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.30769
}

@media (min-width: 768px) {
    a.btn-icon .text,button.btn-icon .text,a.btn-icon-secondary .text,button.btn-icon-secondary .text,a.btn-ghost,button.btn-ghost,.search-form #search-submit {
        font-size:14px;
        line-height: 1.28571
    }
}

@media (min-width: 992px) {
    a.btn-icon .text,button.btn-icon .text,a.btn-icon-secondary .text,button.btn-icon-secondary .text,a.btn-ghost,button.btn-ghost,.search-form #search-submit {
        font-size:16px;
        line-height: 1.25
    }
}

a.btn-icon,button.btn-icon,a.btn-icon-secondary,button.btn-icon-secondary {
    border-radius: 5px;
    display: flex;
    height: 46px;
    overflow: hidden;
    width: 226px
}

@media (min-width: 768px) {
    a.btn-icon,button.btn-icon,a.btn-icon-secondary,button.btn-icon-secondary {
        height:52px;
        width: 278px
    }
}

@media (min-width: 992px) {
    a.btn-icon,button.btn-icon,a.btn-icon-secondary,button.btn-icon-secondary {
        height:58px
    }
}

a.btn-icon .icon,button.btn-icon .icon,a.btn-icon-secondary .icon,button.btn-icon-secondary .icon {
    align-items: center;
    display: flex;
    flex: 0 0 46px;
    justify-content: center
}

@media (min-width: 768px) {
    a.btn-icon .icon,button.btn-icon .icon,a.btn-icon-secondary .icon,button.btn-icon-secondary .icon {
        flex:0 0 52px
    }
}

@media (min-width: 992px) {
    a.btn-icon .icon,button.btn-icon .icon,a.btn-icon-secondary .icon,button.btn-icon-secondary .icon {
        flex:0 0 58px
    }
}

a.btn-icon .text,button.btn-icon .text,a.btn-icon-secondary .text,button.btn-icon-secondary .text {
    align-items: center;
    background-color: #fff;
    color: #850c70;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0 5px;
    position: relative;
    transition: background-color .25s ease-in-out
}

a.btn-icon .text .hover-color,button.btn-icon .text .hover-color,a.btn-icon-secondary .text .hover-color,button.btn-icon-secondary .text .hover-color {
    height: 100%;
    left: 0;
    position: absolute;
    transition: width 300ms ease-in-out;
    width: 0
}

a.btn-icon .text span,button.btn-icon .text span,a.btn-icon-secondary .text span,button.btn-icon-secondary .text span {
    position: relative
}

a.btn-ghost,button.btn-ghost,.search-form #search-submit {
    background-color: transparent;
    border: 1px solid #850c70;
    border-radius: 5px;
    color: #850c70;
    padding: 12px 40px;
    transition: background-color .25s ease-in-out
}

@media (min-width: 768px) {
    a.btn-ghost,button.btn-ghost,.search-form #search-submit {
        padding:18px 40px
    }
}

@media (min-width: 576px) {
    a.btn-ghost:hover,button.btn-ghost:hover,.search-form #search-submit:hover {
        background-color:#850c70;
        color: white
    }
}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
    padding-left: 35px;
    padding-right: 35px
}

.row {
    margin-left: -35px;
    margin-right: -35px
}

.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl {
    padding-left: 35px;
    padding-right: 35px
}

.container-xl {
    max-width: 1920px
}

@media (max-width: 575px) {
    .container.main {
        padding-left:35px;
        padding-right: 35px
    }
}

body {
    position: static;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%
}

body.menu-opened {
    position: fixed;
    overflow-y: hidden
}

h2 {
    margin-bottom: 1rem
}

sup {
    white-space: nowrap
}

ul,ol {
    padding-left: 20px
}

a,button {
    color: #ee5e32;
    font-weight: bold
}

@media (min-width: 576px) {
    a:hover,button:hover {
        color:#ee5e32;
        text-decoration: none
    }
}

a.btn-icon-secondary,button.btn-icon-secondary {
    border: 1px solid #850c70;
    width: 300px
}

@media (min-width: 768px) {
    a.btn-icon-secondary,button.btn-icon-secondary {
        width:379px
    }
}

a.btn-icon-secondary .icon,button.btn-icon-secondary .icon {
    background-color: #850c70;
    border: 1px solid #850c70
}

@media (min-width: 576px) {
    a.btn-icon-secondary:hover .text,button.btn-icon-secondary:hover .text {
        background-color:#850c70;
        color: #fff
    }
}

a.btn-ghost,button.btn-ghost {
    width: 300px
}

@media (min-width: 768px) {
    a.btn-ghost,button.btn-ghost {
        width:379px
    }
}

a[href^="tel:"] {
    white-space: nowrap
}

.inner {
    margin: 0 auto;
    max-width: 1400px
}

main {
    padding-top: 59px;
    padding-bottom: 50px;
    overflow-x: hidden
}

@media (min-width: 768px) {
    main {
        padding-top:92px;
        padding-bottom: 100px
    }
}

body.no-hero main {
    padding-top: 199px
}

@media (min-width: 768px) {
    body.no-hero main {
        padding-top:317px
    }
}

body.no-hero main>section:first-child {
    padding-top: 0
}

body.no-hero main>section:last-child {
    padding-bottom: 0
}

.question-row {
    border-top: 1px solid #707070
}

.question-row:last-child {
    border-bottom: 1px solid #707070
}

.question-row .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10px 1rem 0;
    color: #ee5e32
}

@media (min-width: 768px) {
    .question-row .question:hover {
        background-color:#f5f5f5
    }
}

.question-row .question-title {
    margin: 0;
    padding-right: 30px;
    font-size: 17px
}

@media (max-width: 767px) {
    .question-row .question-title {
        font-size:15px
    }
}

.question-row .question .arrow img {
    display: block;
    transition: transform 250ms ease-in-out;
    transform: rotate(-180deg)
}

@media (max-width: 767px) {
    .question-row .question .arrow img {
        height:9px
    }
}

.question-row .question.collapsed .arrow img {
    transform: rotate(0deg)
}

.question-row .answer {
    padding-top: .5rem;
    padding-bottom: 2rem
}

.question-row .answer p {
    margin-bottom: unset
}

.question-row .answer p img {
    height: auto;
    max-width: 100%
}

@media (min-width: 768px) {
    .question-row .question {
        padding:1.75rem 10px
    }

    .question-row .answer {
        padding: 2.5rem 10px 2rem
    }
}

.checkbox label {
    padding-left: 0
}

.checkbox {
    display: block;
    width: 100%
}

@media (max-width: 575px) {
    .checkbox {
        min-height:41px
    }
}

.checkbox label {
    display: block;
    margin: 0;
    width: 100%
}

.checkbox label .check-label {
    display: inline-block;
    width: 100%
}

.checkbox label .check-label p,.checkbox label .check-label p a {
    font-size: inherit;
    line-height: inherit;
    margin: 0
}

.checkbox label a {
    font-size: 18px
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px
}

input[type="checkbox"]+span {
    cursor: pointer;
    padding: 3px 0 3px 33px;
    position: relative
}

input[type="checkbox"]+span:before,input[type="checkbox"]+span:after {
    height: 18px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 18px
}

input[type="checkbox"]+span:before {
    border: 1px solid #850c70;
    content: ''
}

input[type="checkbox"]+span:after {
    content: '';
    background-image: url("../../assets/images/checked.svg");
    background-position: center;
    background-size: cover
}

input[type="checkbox"]:not(:checked)+span:after {
    opacity: 0;
    transform: scale(0)
}

input[type="checkbox"]:checked+span:after {
    opacity: 1;
    transform: scale(1)
}

input,select {
    height: 56px;
    padding: 6px 15px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: transparent;
    font-size: 14px
}

input:focus,select:focus {
    outline: 0
}

@media (max-width: 575px) {
    input,select {
        height:40px
    }
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

select {
    background-image: url("../../assets/images/chevron-down-black.svg");
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-size: 16px;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

@media (max-width: 575px) {
    select {
        background-position:right 12px center;
        background-size: 12px
    }
}

.modal-backdrop {
    display: none
}

.image-block {
    position: relative;
    width: 100%;
    height: 40vw
}

@media (max-width: 991px) {
    .image-block {
        height:60vw
    }
}

@media (max-width: 767px) {
    .image-block {
        height:80vw
    }
}

.image-block .color-layer {
    position: absolute;
    top: 5vw;
    bottom: 0
}

@media (max-width: 991px) {
    .image-block .color-layer {
        top:36px
    }
}

.image-block .image-layer {
    position: absolute;
    top: 0;
    bottom: 5vw;
    border-radius: 10px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat
}

@media (max-width: 991px) {
    .image-block .image-layer {
        bottom:36px
    }
}

@media (max-width: 575px) {
    .image-block .image-layer {
        border-top-right-radius:unset;
        border-bottom-right-radius: unset
    }
}

.image-block-left .color-layer {
    border-bottom-right-radius: 10px;
    left: 0;
    right: 5vw
}

@media (max-width: 991px) {
    .image-block-left .color-layer {
        right:36px
    }
}

.image-block-left .image-layer {
    left: 5vw;
    right: 0
}

@media (max-width: 991px) {
    .image-block-left .image-layer {
        left:36px
    }
}

@media (max-width: 575px) {
    .image-block-left .image-layer {
        border-top-right-radius:unset;
        border-bottom-right-radius: unset
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .image-block-left {
        width:calc(100% - 36px);
        margin-right: 36px
    }
}

.image-block-right .color-layer {
    border-bottom-left-radius: 10px;
    left: 5vw;
    right: 0
}

@media (max-width: 991px) {
    .image-block-right .color-layer {
        left:36px
    }
}

.image-block-right .image-layer {
    left: 0;
    right: 5vw
}

@media (max-width: 991px) {
    .image-block-right .image-layer {
        right:36px;
        border-radius: 10px
    }
}

@media (max-width: 575px) {
    .image-block-right .image-layer {
        border-top-left-radius:unset;
        border-bottom-left-radius: unset
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .image-block-right {
        width:calc(100% - 36px);
        margin-left: 36px
    }
}

.image-block+p.small {
    padding: 15px 0 0 5vw
}

@media (max-width: 991px) {
    .image-block+p.small {
        padding:15px 35px 0
    }
}

.color-block {
    position: relative;
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .color-block {
        margin-bottom:50px
    }
}

.color-block>div {
    position: absolute;
    width: calc(100vw - 30px);
    height: 100%
}

@media (min-width: 768px) {
    .color-block>div {
        width:100%
    }
}

.color-block .below {
    top: 30px
}

@media (min-width: 768px) {
    .color-block .below {
        top:50px
    }
}

.color-block .above {
    background-color: #f5f5f5;
    top: 0;
    bottom: 0;
    padding: 0 35px
}

@media (min-width: 768px) {
    .color-block .above {
        border-radius:10px
    }
}

.color-block-left .below {
    left: 0;
    border-bottom-right-radius: 10px
}

.color-block-left .above {
    left: 50px
}

@media (max-width: 767px) {
    .color-block-left .above {
        left:30px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px
    }
}

.color-block-right {
    border-radius: 10px
}

.color-block-right .below {
    right: 0;
    border-bottom-left-radius: 10px
}

.color-block-right .above {
    right: 50px
}

@media (max-width: 767px) {
    .color-block-right .above {
        right:30px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px
    }
}

.content-block {
    padding: 30px 35px
}

@media (min-width: 992px) {
    .content-block {
        padding:60px
    }
}

@media (min-width: 768px) {
    .bg-block {
        position:relative
    }

    .bg-block::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        max-width: 445px;
        width: 20%;
        height: 100%;
        background: #f5f5f5;
        opacity: .45;
        z-index: -1
    }

    .bg-block-left::before {
        left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px
    }

    .bg-block-right::before {
        right: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px
    }
}

.section-heading {
    padding-top: 30px
}

@media (min-width: 768px) {
    .section-heading {
        padding:60px 0
    }
}

section {
    position: relative
}

section .max-width {
    max-width: 1400px;
    margin: 0 auto
}

section .aligns {
    display: flex;
    flex-wrap: wrap
}

@media (min-width: 576px) and (max-width: 991px) {
    section .aligns {
        justify-content:center
    }
}

section .align-left {
    flex: 1 0 50%
}

section .align-left .max-width {
    margin-left: unset;
    margin-right: auto
}

@media (min-width: 992px) {
    section .align-left .max-width {
        max-width:700px
    }
}

@media (max-width: 991px) {
    section .align-left {
        flex-basis:100%
    }
}

section .align-right {
    flex: 1 0 50%
}

section .align-right .max-width {
    margin-left: auto;
    margin-right: unset
}

@media (min-width: 992px) {
    section .align-right .max-width {
        max-width:700px
    }
}

@media (max-width: 991px) {
    section .align-right {
        flex-basis:100%
    }
}

@media (max-width: 991px) {
    section .image {
        order:1
    }

    section .image .image-block {
        margin-bottom: 30px
    }
}

@media (max-width: 991px) {
    section .text {
        order:2
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    section .text {
        padding-left:5vw;
        padding-right: 5vw
    }

    section .text .content-block {
        padding-left: unset;
        padding-right: unset
    }
}

section .full-bleed {
    position: absolute
}

@media (max-width: 575px) {
    .desktop-content {
        display:none
    }
}

@media (min-width: 768px) {
    .mobile-content {
        display:none
    }
}

header.header {
    height: 280px;
    background-color: #FFFFFF;
}

header.header .menu {
    font-family: "Montserrat",sans-serif;
    list-style: none;
    margin: 0;
    padding: 0
}

header.header .secondary-menu--inner .menu {
    margin-top: 22px
}

.header-links-menu {
    background-color: #ebebeb;
    height: 25px
}

.header-links-menu .menu-item a {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .header-links-menu {
        height:39px
    }
}

@media (max-width: 767px) {
    .header-links-menu>.container {
        padding-right:17.5px
    }
}

.header-links-menu .menu {
    display: flex;
    justify-content: flex-end
}

@media (min-width: 768px) {
    .header-links-menu .menu-item {
        margin-top:7px
    }

    .header-links-menu .menu-item:not(:last-of-type) {
        margin-right: 40px
    }
}

@media (max-width: 767px) {
    .header-links-menu .menu-item {
        margin-right:7px
    }

    .header-links-menu .menu-item:last-of-type {
        display: none
    }
}

.header-links-menu a {
    color: #444;
    font-weight: normal;
    font-size: 10px;
    line-height: 2.4
}

@media (min-width: 768px) {
    .header-links-menu a {
        font-size:13px;
        line-height: 1.84615
    }
}

@media (max-width: 767px) {
    .top-nav {
        box-shadow:0 5px 5px -1px rgba(0,0,0,0.2)
    }

    .top-nav>.container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 768px) {
    .top-nav {
        background:linear-gradient(90deg, #850c70 50%, #ee5e32 50%)
    }
}

.top-nav--inner {
    display: flex
}

@media (max-width: 767px) {
    .top-nav--inner {
        height:34px
    }
}

@media (min-width: 768px) {
    .top-nav--inner {
        justify-content:space-between;
        height: 53px
    }
}

.top-nav--btn {
    font-size: 10px;
    line-height: 1.8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-transform: uppercase
}

@media (max-width: 767px) {
    .top-nav--btn {
        height:100%;
        width: 50%
    }
}

@media (min-width: 768px) {
    .top-nav--btn {
        font-size:16px;
        line-height: 1.8125;
        letter-spacing: -0.32px
    }
}

.top-nav--btn::before {
    height: 35px;
    width: 35px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

@media (min-width: 768px) {
    .top-nav--btn::before {
        content:'';
        display: block
    }
}

@media (max-width: 767px) {
    .top-nav--btn.left {
        background-color:#850c70
    }
}



@media (max-width: 767px) {
    .top-nav--btn.right {
        background-color:#ee5e32
    }
}

.secondary-menu--inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 100px;
    left: 35px;
    width: calc(100% - 70px);
    z-index: 1
}

.secondary-menu--inner a {
    color: white;
    position: relative;
    font-size: 17px;
    line-height: .88235
}

body.nav-dark .secondary-menu--inner a {
    color: #850c70
}

.secondary-menu--inner a:not(.header-logo):before {
    bottom: -10px;
    content: '';
    height: 4px;
    background-color: #ee5e32;
    pointer-events: none;
    position: absolute;
    transition: width 300ms linear;
    width: 0
}

@media (min-width: 576px) {
    .secondary-menu--inner a:not(.header-logo):hover::before {
        width:55px
    }
}

.secondary-menu--inner .menu {
    display: flex
}

.secondary-menu--inner .menu-item {
    margin-right: 70px
}

.secondary-menu--inner .menu-item:last-child {
    margin-right: 110px
}

@media (max-width: 991px) {
    .secondary-menu--inner .menu {
        display:none
    }
}

.secondary-menu .header-logo {
    margin-right: 60px
}

.secondary-menu .header-logo img {
    height: auto;
    width: 130px
}

@media (min-width: 768px) {
    .secondary-menu .header-logo img {
        width:230px
    }
}

.menu-controls {
    display: flex;
    position: absolute;
    top: 112px;
    right: 17.5px;
    z-index: 2
}

@media (min-width: 768px) {
    .menu-controls {
        right: 35px
    }
}

body.menu-opened .menu-controls {
    z-index: 1000
}

@media (max-width: 767px) {
    body.menu-opened .menu-controls {
        padding-right:unset
    }
}

body.nav-light .menu-controls .search-icon svg:hover path,body.nav-light .menu-controls .search-icon svg:hover text,body.nav-light .menu-controls .menu-icon svg:hover path,body.nav-light .menu-controls .menu-icon svg:hover text,body.nav-light .menu-controls .close-icon svg:hover path,body.nav-light .menu-controls .close-icon svg:hover text {
    transition: all .2s;
    fill: #850c70
}

body.nav-dark .menu-controls .search-icon svg path,body.nav-dark .menu-controls .search-icon svg text,body.nav-dark .menu-controls .menu-icon svg path,body.nav-dark .menu-controls .menu-icon svg text,body.nav-dark .menu-controls .close-icon svg path,body.nav-dark .menu-controls .close-icon svg text {
    fill: #850c70
}

body.menu-opened .menu-controls .search-icon svg path,body.menu-opened .menu-controls .search-icon svg text,body.menu-opened .menu-controls .menu-icon svg path,body.menu-opened .menu-controls .menu-icon svg text,body.menu-opened .menu-controls .close-icon svg path,body.menu-opened .menu-controls .close-icon svg text {
    fill: white !important
}

.menu-controls .search-icon svg,.menu-controls .close-icon svg {
    height: 19px;
    width: 19px
}

@media (min-width: 768px) {
    .menu-controls .search-icon,.menu-controls .close-icon {
        margin-top:0
    }

    .menu-controls .search-icon svg,.menu-controls .close-icon svg {
        height: 29px;
        width: 29px
    }
}

.menu-controls .search-icon {
    margin-right: 15px
}

@media (min-width: 768px) {
    .menu-controls .search-icon {
        margin-right:30px
    }
}

.menu-controls .close-icon {
    display: none;
    text-align: center;
    width: 29px
}

@media (min-width: 768px) {
    .menu-controls .close-icon {
        width:44px
    }
}

body.menu-opened .menu-controls .close-icon {
    display: block
}

.menu-controls .menu-icon svg {
    height: 33px;
    width: 29px
}

@media (min-width: 768px) {
    .menu-controls .menu-icon svg {
        height:53px;
        width: 44px
    }
}

body.menu-opened .menu-controls .menu-icon {
    display: none
}

.main-menu {
    background: #850c70;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 144px);
    width: 100vw;
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease
}

@media (max-width: 767px) {
    .main-menu {
        height:100%;
        transform: translateY(-100%)
    }
    .container {
        width: 100% !important;
    }
    .top-nav--inner {
        padding: 0px !important;
    }
}

@media (min-width: 768px) {
    .main-menu {
        min-width:510px;
        width: 35vw;
        transform: translateX(100%)
    }
}

@media (min-width: 1600px) {
    .main-menu {
        width:45vw;
        transform: translateX(100%)
    }
}

body.menu-opened .main-menu {
    opacity: 1
}

@media (max-width: 767px) {
    body.menu-opened .main-menu {
        transform:translateY(0)
    }
}

@media (min-width: 768px) {
    body.menu-opened .main-menu {
        transform:translateX(0)
    }
}

.main-menu .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.main-menu .nav-menu>.menu,.main-menu .search-menu {
    padding: 50px 36px 36px
}

@media (min-width: 768px) {
    .main-menu .nav-menu>.menu,.main-menu .search-menu {
        padding:80px 150px 30px 80px
    }
}

@media (min-width: 768px) {
    .main-menu .nav-menu>.menu {
        height:calc(100% - 110px);
        overflow-y: auto
    }
}

.main-menu .nav-menu,.main-menu .search-menu {
    display: none
}

.main-menu.show-nav .nav-menu,.main-menu.show-search .search-menu {
    display: block
}

.main-menu-wrapper {
    position: fixed;
    top: 59px;
    right: 0;
    height: calc(100% - 59px);
    width: 100vw;
    z-index: -1;
    transition: z-index 0s .3s
}

@media (min-width: 768px) {
    .main-menu-wrapper {
        top:92px;
        height: calc(100% - 92px)
    }
}

body.menu-opened .main-menu-wrapper {
    z-index: 1000;
    transition-delay: 0s
}

.main-menu-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%
}

body.menu-opened .main-menu-overlay {
    display: block
}

.main-menu a {
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.375
}

@media (min-width: 768px) {
    .main-menu a {
        font-size:18px;
        line-height: 1.22222
    }
}

@media (min-width: 576px) {
    .main-menu a:hover {
        color:#ee5e32
    }
}

.main-menu .menu-item {
    margin-bottom: 10px
}

.main-menu .menu-item.menu-group-last {
    margin-bottom: 40px
}

.social-menu {
    background: #b8479f;
    height: 114px;
    width: 100%;
    padding: 25px 20px 0
}

@media (min-width: 768px) {
    .social-menu {
        height:110px;
        padding: 25px 80px 0;
        position: absolute;
        bottom: 0;
        left: 0
    }
}

.social-menu p {
    color: white;
    font-size: 16px;
    line-height: 1.375
}

@media (min-width: 768px) {
    .social-menu p {
        font-size:18px;
        line-height: 1.22222
    }
}

.social-menu .social-links {
    display: flex
}

.social-menu .social-links .menu-item {
    margin-right: 30px
}

.social-menu .social-links .menu-item a {
    font-size: 26px;
    line-height: 1
}

.search-form {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    padding-top: 50px
}

@media (min-width: 768px) {
    .search-form {
        padding-top:150px
    }
}

.search-form label {
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    line-height: 1.375
}

@media (min-width: 768px) {
    .search-form label {
        font-size:18px;
        line-height: 1.22222
    }
}

.search-form #search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    font-family: "Montserrat",sans-serif;
    margin: 25px 0 45px;
    padding: 5px 10px
}

.search-form #search::placeholder {
    color: #bbb;
    font-size: 10px;
    line-height: 1.7
}

@media (min-width: 768px) {
    .search-form #search::placeholder {
        font-size:12px;
        line-height: 1.66667
    }
}

.search-form #search:focus {
    outline: none
}

.search-form #search-submit {
    max-width: 300px;
    border-color: white;
    color: white
}

@media (min-width: 576px) {
    .search-form #search-submit:hover {
        background:white;
        color: #850c70
    }
}

@media (max-width: 767px) {
    .search-form #search-submit {
        max-width:unset
    }
}
